.choice-container{
    display: flex;
    margin-bottom:0.5rem;
    width: 50%;
    font-size: 1.8rem;
    border:0.1rem solid rgb(red, green, blue);
    background-color: whitesmoke;
    
}
.choice-container:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(red, green, blue, alpha);
    transform: translate(-0.1rem);
    transition: transform 150ms;

}
.choice-prefix{
    padding: 1.5 rem 2.5rem;
    background-color: black;
    color: white;
}
.choice-text{
    padding: 1.5re;
}